
 /* element selectors */
h1, h3{
    color: red;
}

h2{
    color: pink;
}

.container{
    border: 2px solid cyan;
    padding: 10px;
}

span {
    border: 1px solid green;
}
/* Combinator selector */

     /*1.  descendent selector */
            /* .container span{
                background-color: beige;
                color: blue;
            }  */
    /* 2 :  Child selector  */
            /* .container>.container-item {
                background-color: rgb(191, 111, 79);
                color: rgb(0, 103, 83);
            } */
    /* 3 > Adjecent sibling selector: */

    .container-item + div{ 
        /* border: 2px solid blue;
        background-color: aqua; */
     }
    /* 4 > general sibling selector: */

    /* .container-item~div {
        border: 2px solid blue;
        background-color: aqua;
    } */

    /*-> Pseudo class selector */
        .container-item1:hover{
            background-color: cadetblue;
            color: white;
           
        }

    input:focus {
        background-color: rgb(212, 241, 231);
    }


    .form{
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
    }

    input{
        margin: 10px;
    }

    /* Attribute selectore */

    input[type="text"] {
        background-color: aquamarine;
    }

    input[type="number"] {
        background-color: rgb(127, 127, 255);
    }

    input[type="date"] {
        background-color: rgb(255, 246, 127);
    }

    /* Pseudo element selector : */

    p::first-line{
        color: rgb(12, 154, 109);
    }

    .span-color{
        color: aquamarine;
        border: none;
    }

    p::before{
        content: 'SAY HELLO -';
        color: rgb(15, 15, 204);
        background-color: antiquewhite;
    }

    /* div::after {
        content: 'SAY HELLO from DIV -';
        color: rgb(7, 247, 251);
    } */


    .new-container{
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
    }

        /* .new-container-item::before{
        content: 'none';
        margin: 20px;
        padding: 30px;
    } */

    